.drop-box {
    background: transparent;
    border: 2px dashed #DDD;
    width: 100%;
    height: 100%;
    min-height: 100px;
    padding: 0.5em;
    margin-bottom: 1em;
}

.drop-box div.image {
  height: 100px;
  display: inline-block;
  margin: 0.5em;
  cursor: pointer;
}

.drop-box div.image:hover {
  opacity: 0.7;
}

.photos-actions > .btn {
    display: inline-block;
    margin: 0px 0px 0 10px;
    padding: 3px 8px;
    width: 32px;

    transition: all 1s ease-in-out;
}

.photos-actions > .btn:hover {
    width: auto;
}

.photos-actions > .btn > .text {
    display: inline-block;
    display: none;
}

.photos-actions > .btn:hover > .text {
    display: inline-block;
}

.image-field .image.selected img {
    border: 3px solid #cca5a5;
}

.image-field .image.default img {
    border: 3px solid #81bd7a;
}
