body {
	background-color: #FCF5E5;
	background-image: url('/images/bg.png');
	background-repeat: repeat;
	color: #5f4c0f;
	background-attachment: fixed;
}

.wrapper-header{
	padding: 2em 0em;
	background-image: url('/images/logo2.png');
	/*width: 900px;*/
	max-width: 100%;
	margin: auto;
	/*background-color: white;*/
	box-shadow: 0px 0px 20px #5f4c0f;
}

.wrapper-header .logo{
	color: #3e3209;
	/*height: 40%;*/
	/*display: block;*/
	/*margin: 20%;*/
}

.wrapper {
	width: 900px;
	max-width: 100%;
	margin: auto;
	padding: 1em 2em;
	/*background-color: white;*/
	/*box-shadow: 0px 0px 20px #5f4c0f;*/
}

.wrapper-footer{
	background: url('/images/footer.png') repeat-x;
	box-shadow: 0px 0px 20px #5f4c0f;

	/*height: 10px;*/
}

header {
	text-align: center;
}

.article .image{
	/*float: center;*/
	max-width: 400px;
	margin: 0 1em 0 0;
	text-align: center;
}

h1{
	color: #a08018;
	font-family: heart;
	font-size: 3.5em;
}

.left-menu .image{
	float: right;
	max-width: 15em;
	margin: 2em 0em 0 0;
}

.right-menu .image{
	float: left;
	max-width: 15em;
	margin: 2em 0em 0 0;
}

@font-face {
       font-family: 'heart';
       src: url('/fonts/heart.ttf');
}

.photo {
	margin:1em;
	display: inline-block;
}