node_modules/
dist/
.tmp/
.sass-cache/
bower_components/

npm-debug.log
.idea/
vendor/
deploy/
.deploy/
.ebextensions/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
