<div class="image-field row">
	<div class="image-field-upload col-md-12">
    <div class="drop-box">

      <div ng-repeat="photo in images" class="image" title="click to remove" ng-click="setSelectedPicture(photo)" ng-class="{ default: photo === entity.image_url, selected: photo === selectedPicture }">
        <img ng-src="{{ photo }}" height="100">
      </div>

    </div>

    <div ngf-select="upload($files);$files=null" class="btn btn-default"
     ngf-drag-over-class="'dragover'" ngf-multiple="false"
     ngf-pattern="'image/*,application/pdf'">
      <i class="fa fa-camera"></i>
      Subir foto
    </div>

    <div class="photos-actions pull-right">
      <button class="btn btn-primary" ng-click="setDefaultPicture()" title="Hacer foto principal" ng-disabled="!selectedPicture">
        <i class="fa fa-check"></i>
        <span class="text">Hacer principal</span>
      </button>

      <button class="btn btn-danger" ng-click="deleteSelectedPicture()" title="Eliminar foto" ng-disabled="!selectedPicture">
        <i class="fa fa-remove"></i>
        <span class="text">Eliminar elemento</span>
      </button>
    </div>
  </div>
</div>
