<div class="details">
	<div class="details-back">
		<button ng-click="$root.back()"class="btn btn-link">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Volver
		</button>
	</div>
	<div class="details-photo-pane">
		<div class="details-main-photo">
			<img ng-src="{{itemDetail.currentPhoto}}">

			<div class="details-side-photos">
				<div class="details-side-photo" ng-click="itemDetail.currentPhoto = itemDetail.item.image_url" ng-class="{active: itemDetail.currentPhoto === itemDetail.item.image_url}">
					<img ng-src="{{itemDetail.item.image_url}}">
				</div>
				<div class="details-side-photo" ng-repeat="photo in itemDetail.item.photos"
				 ng-click="itemDetail.currentPhoto = photo" ng-class="{active: itemDetail.currentPhoto === photo}">
					<img ng-src="{{photo}}">
				</div>


			</div>
		</div>

	</div>
	<div class="details-text-pane">
		<h2>{{itemDetail.item.name}}</h2>
		<div ng-bind-html="itemDetail.item.text"></div>
		<div class="details-actions">
			<button ng-click="itemDetail.requestInfo()" class="btn btn-link">
				<i class="glyphicon glyphicon-envelope"></i>
				Solicitar más información
			</button>
		</div>
	</div>

</div>
