<div class="wrapper-header">
	<header>
		<img class="logo" src="images/logo3.png"/>
		<div class="_menu">
		</div>
	</header>
</div>

<div class="wrapper">
	<div class="col-md-3 big-menu">
			<a href="#/collections/"><img class="image" src="images/colecciones_menu.png"></a>
			<a href="#/dresses/"><img class="image" src="images/vestidos_menu.png"></a>
			<a href="#/accessories/"><img class="image" src="images/complementos_menu.png"></a>
	</div>
	<div class="col-md-6">
		<div class="article">
			<h1 class="title">Bienvenidos</h1>
			<p class="body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta, enim malesuada finibus lobortis, libero ante sollicitudin lorem, quis varius dolor enim ut dolor. Phasellus faucibus at diam sed accumsan. In sagittis maximus convallis. Nam ac finibus metus, eu pellentesque velit. Phasellus eget magna ac lectus blandit facilisis ut eget nisi. Morbi tempor, lacus at tincidunt ultrices, quam lectus consequat lacus, id vulputate erat lorem ac lacus. Morbi at diam justo.
			</p>
		</div>
	</div>
	<div class="col-md-3 big-menu">
		<a target="_blank" href="https://www.facebook.com/taller.chusrodriguez"><img class="image" src="images/facebook_menu.png" ng-click="open()"></a>    
		<a target="_blank" href="https://www.instagram.com/taller.chusrodriguez/"><img class="image" src="images/instagram_menu.png" ng-click="open()"></a>  
		<a href="#/contact"><img class="image" src="images/contacto_menu.png"></a>
	</div>
</div>


