<div class="col-md-10">
  <div class="article">
    <h1 class="title">Primera entrada</h1>
    <img class="image" src="images/vestido.png">
    <p class="body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta, enim malesuada finibus lobortis, libero ante sollicitudin lorem, quis varius dolor enim ut dolor. Phasellus faucibus at diam sed accumsan. In sagittis maximus convallis. Nam ac finibus metus, eu pellentesque velit. Phasellus eget magna ac lectus blandit facilisis ut eget nisi. Morbi tempor, lacus at tincidunt ultrices, quam lectus consequat lacus, id vulputate erat lorem ac lacus. Morbi at diam justo.
    </p>
  </div>
</div>
</div>