<div class="wrapper-header">
	<header>
		<img class="logo" src="images/logo3.png"/>
		<div class="_menu">
		</div>
	</header>
</div>

<div class="wrapper">
	<div class="col-md-3 big-menu">
			<a href="#/collections/"><img class="image" src="images/colecciones_menu.png"></a>
			<a href="#/dresses/"><img class="image" src="images/vestidos_menu.png"></a>
			<a href="#/accessories/"><img class="image" src="images/complementos_menu.png"></a>
	</div>
	<div class="col-md-6">
		<div class="article">
			<h1 class="title">Bienvenidos</h1>
			<p class="body">
				El taller de Chus Rodríguez comienza su andadura tímidamente en septiembre de 2015 con mucha ilusión y la esperanza de que nuestros vestidos confeccionados de manera artesanal fueran del agrado de un público muy exigente...nuestros niños.
			</p>
      <p class="body">
        Confeccionamos nuestros primeros vestidos de invierno y gracias a vuestro apoyo aquí seguimos, a punto de lanzar la segunda temporada de otoño-invierno.
        Intentando mejorar estrenamos página web para facilitaros la elección y compra de nuestros productos.
      </p>
      <p class="body">
        Mi agradecimiento a todos los que habéis hecho posible que sigamos adelante con este proyecto.
      </p>
         </div>
		</div>
	</div>
	<div class="col-md-3 big-menu">
		<a target="_blank" href="https://www.facebook.com/taller.chusrodriguez"><img class="image" src="images/facebook_menu.png" ng-click="open()"></a>
		<a target="_blank" href="https://www.instagram.com/taller.chusrodriguez/"><img class="image" src="images/instagram_menu.png" ng-click="open()"></a>
		<a href="#/contact"><img class="image" src="images/contacto_menu.png"></a>
	</div>
</div>


